<?xml version="1.0"?>

<config>
    <modules>
        <TWC_AffiliateEnquiry>
            <version>0.1.0</version>
        </TWC_AffiliateEnquiry>
    </modules>
    <frontend>
        <routers>
            <twc_affiliateenquiry>
                <use>standard</use>
                <args>
                    <module>TWC_AffiliateEnquiry</module>
                    <frontName>affiliate-enquiry</frontName>
                </args>
            </twc_affiliateenquiry>
        </routers>
        <translate>
            <modules>
                <TWC_AffiliateEnquiry>
                    <files>
                        <default>TWC_AffiliateEnquiry.csv</default>
                    </files>
                </TWC_AffiliateEnquiry>
            </modules>
        </translate>
        <layout>
            <updates>
                <twc_affiliateenquiry>
                    <file>twc/affiliateenquiry.xml</file>
                </twc_affiliateenquiry>
            </updates>
        </layout>
    </frontend>
    <global>
    	<helpers>
            <twc_affiliateenquiry>
                <class>TWC_AffiliateEnquiry_Helper</class>
            </twc_affiliateenquiry>
        </helpers>
        <models>
            <twc_affiliateenquiry>
                <class>TWC_AffiliateEnquiry_Model</class>
            </twc_affiliateenquiry>
        </models>
        <resources>
            <twc_affiliateenquiry_setup>
                <setup>
                    <module>TWC_AffiliateEnquiry</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </twc_affiliateenquiry_setup>
        </resources>
        <template>
            <email>
                <twc_affiliateenquiry_email_email_template translate="label" module="twc_affiliateenquiry">
                    <label>Enquiry Form</label>
                    <file>enquiry_form.html</file>
                    <type>html</type>
                </twc_affiliateenquiry_email_email_template>
            </email>
        </template>
    </global>

    <default>
        <twc_affiliateenquiry>
            <general>
                <enabled>1</enabled>
            </general>
            <email>
                <recipient_email><![CDATA[hello@example.com]]></recipient_email>
                <sender_email_identity>custom2</sender_email_identity>
                <email_template>twc_affiliateenquiry_email_email_template</email_template>
            </email>
        </twc_affiliateenquiry>
    </default>
</config>
