.project
.idea
*.sublime-project
*.sublime-workspace
*.tmproj
*.bak
*.swp
*~.nib
app/design/install/
app/etc/local.xml
app/etc/local.xml.additional
app/etc/local.xml.template
cron.php
cron.sh
downloader/
errors/
index.php
index.php.sample
install.php
LICENSE*
lib/Zend/
media/
var/
pear/
php.ini.sample
pkginfo/
RELEASE_NOTES.txt
error_log/
tmp/
